.feature-icon {
  display: flex;
  flex-direction: row;
  margin: 20px;
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
}

.feature-icon .icon {
  margin-right: 20px;
}

.feature-icons {
  color: #ff9800;
}

.feature-icon p {
  color: #666;
  font-size: 14px;
  margin: 0;
  padding-left: 10px;
  text-align: left;
}

@media (max-width: 768px) {
  .feature-icon {
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
  }

  .feature-icon .icon {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .feature-icons {
    margin-top: 23px;
  }

  .feature-icon p {
    padding: 10px;
  }
}
